version: '2.2'

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    container_name: zookeeper
    restart: always
    networks:
      - elastic-net
    mem_limit: 512m        # Giới hạn 512MB RAM cho Zookeeper
    cpus: 0.5              # Giới hạn 0.5 CPU cho Zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:latest
    container_name: kafka
    restart: always
    networks:
      - elastic-net
    mem_limit: 1g          # Giới hạn 1GB RAM cho Kafka
    cpus: 0.5              # Giới hạn 0.5 CPU cho Kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.6.2
    container_name: elasticsearch
    restart: always
    networks:
      - elastic-net
    mem_limit: 2g          # Giới hạn 2GB RAM cho Elasticsearch
    cpus: 0.5              # Giới hạn 0.5 CPU cho Elasticsearch
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms1g -Xmx1g   # Giới hạn bộ nhớ heap cho Elasticsearch (1GB)
      - ELASTIC_PASSWORD=elasticsearch
      - xpack.security.enabled=true
    ports:
      - "9200:9200"
      - "9300:9300"

  kibana:
    image: docker.elastic.co/kibana/kibana:8.6.2
    container_name: kibana
    restart: always
    networks:
      - elastic-net
    mem_limit: 1g          # Giới hạn 1GB RAM cho Kibana
    cpus: 0.5              # Giới hạn 0.5 CPU cho Kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      - ELASTICSEARCH_USERNAME=elastic
      - ELASTICSEARCH_PASSWORD=elasticsearch
    ports:
      - "5601:5601"

  postgres-db1:
    image: postgres:latest
    container_name: postgres-db1
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: mycare_identity
    ports:
      - "5432:5432"
    mem_limit: 512m
    cpus: 0.5
    networks:
      - pg-network

  postgres-db2:
    image: postgres:latest
    container_name: postgres-db2
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: mycare_profile
    ports:
      - "5433:5432"
    mem_limit: 512m
    cpus: 0.5
    networks:
      - pg-network

  redis:
    image: redis:latest
    container_name: redis
    restart: always
    networks:
      - elastic-net
    mem_limit: 512m  # Optional: set memory limit for Redis container
    cpus: 0.5        # Optional: limit CPU usage for Redis container
    ports:
      - "6379:6379"   # Expose Redis on port 6379
    command: redis-server --requirepass redispassword

networks:
  elastic-net:
    driver: bridge
  pg-network:
    driver: bridge
